# Source files
src/
tests/
example_data/
examples/

# Configuration files
.eslintrc.cjs
.prettierrc
.gitignore
tsconfig.json
build.js
build.watch.js

# Environment files
.env
.env.*

# Build artifacts
coverage/
node_modules/
.DS_Store

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log* 